.search-bar-container{
  padding: 0 56px 0 8px;
  background: #eaf1fb;
  border-radius: 32px;
  display: flex;
  align-items: center;
  position: relative;
  > input {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: inherit;
    min-width: 352px;
  }

  &.opened {
    background: white;
    border-radius: 32px 32px 0 0;
  }

  .close-button{
    position: absolute;
    top: 0;
    right: 8px;
  }
}

